<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
   
  <!-- <ion-card> -->
    <ion-slides autoplay="3000" pager no-padding #mainSlider (ionSlidesDidLoad)="slidesDidLoad(mainSlider)">
        <ion-slide no-padding *ngFor="let number of [1,2,3]">
          <ion-img no-padding src="../../assets/images/{{number}}.jpg"></ion-img>
        </ion-slide>
      </ion-slides>
  <!-- </ion-card> -->

  <ion-img no-padding src="https://cdn.pixabay.com/photo/2015/11/02/18/34/banner-1018818_1280.jpg"></ion-img>

  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-slides no-padding autoplay="3000" pager #productsSlider (ionSlidesDidLoad)="slidesDidLoad(productsSlider)">
          <ion-slide *ngFor="let product of products">
            <ion-card>
              <ion-img [src]="product.images[0].src"></ion-img>
              <ion-card-content>
                <h1 padding text-center>{{product.name}}</h1>
                <p text-center [innerHTML]="product.short_description.substr(0, 500) + '...'"></p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- [routerLink]="['/product-details', product.id]" -->
  <!-- [routerLink]="['/product-details', product.id]" -->
  <!-- (click)="openProductDetails(product)" -->
  <ion-list>
    <ng-container *ngFor="let product of moreProducts">
      <ion-item *ngIf="product.status == 'publish'" (click)="onGoToDetailedPage(product)" [routerLink]="['/', 'product-details', product.id]" >
          <ion-thumbnail slot="start">
            <ion-img [src]="product.images[0].src"></ion-img>
          </ion-thumbnail>
          <ion-label text-wrap>
            <h2>{{ product.name }}</h2>
            <p>
              <span [innerHTML]="product.short_description.substr(0, 550) + '...'"></span>
              <span [innerHTML]="product.price_html"></span>
            </p>
          </ion-label>
          <ion-button ion-button icon clear item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
      </ion-item>
      
          
    </ng-container>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
